<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Report Templates</h1>
        <blockquote>
            <p>Please select the type of report template you would like to create, then click the check box to select the fields. After that, press 'Submit' button, the report template
                format will be saved.</p>
        </blockquote>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="flash-message; col-lo-8" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6 col-md-offset-2">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Report Template</h4>
            </div>
            <div class="panel-body"  style="overflow:auto;">
                <form name="form" novalidate>
                    <formly-form model="vm.model" fields="vm.fields" options="vm.options">
                        <button type="submit" class="btn btn-primary btn-block" ng-click="vm.createTemplate() || vm.buttonDisabled">Submit
                        </button>
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
</div>
